/* FX-Updater 主题样式 */

/* 布局 */
.vbox {
  -fx-spacing: 20px;
  -fx-padding: 20px;
  -fx-background-color: -color-bg-default;
}

/* 文本 */
.label {
  -fx-font-family: "Inter";
  -fx-font-size: 13px;
  -fx-text-fill: -color-fg-muted;
}

/* 按钮容器 */
.hbox {
  -fx-alignment: center-right;
  -fx-spacing: 20px;
}

/* 按钮通用样式 */
.button {
  -fx-padding: 5px 20px;
  -fx-background-radius: 5px;
  -fx-font-family: "Inter";
  -fx-font-size: 13px;
}

/* 忽略按钮 */
.button-ignore {
  -fx-background-color: -color-accent-subtle;
  -fx-text-fill: -color-fg-muted;
}

/* 取消按钮 */
.button-cancel {
  -fx-background-color: -color-danger-emphasis;
  -fx-text-fill: white;
}

/* 确认按钮 */
.button-confirm {
  -fx-background-color: -color-success-emphasis;
  -fx-text-fill: white;
}

/* 滚动条 */
.scroll-bar {
  -fx-background-color: transparent;
  -fx-padding: 0;
}

.scroll-bar .track {
  -fx-background-color: #e0e0e0;
  -fx-background-radius: 4px;
}

.scroll-bar .thumb {
  -fx-background-color: #c0c0c0;
  -fx-background-radius: 4px;
  -fx-padding: 2px;
}

.scroll-bar .thumb:hover {
  -fx-background-color: #a0a0a0;
}

.scroll-bar .increment-button,
.scroll-bar .decrement-button {
  -fx-opacity: 0;
}
