/* VBox 样式 */
.vbox {
  -fx-spacing: 20px;
  -fx-padding: 20px;
  -fx-background-color: -color-bg-default;
}

/* Label样式 */
.label {
  -fx-font-family: "Inter";
  -fx-font-size: 13px;
  -fx-text-fill: -color-fg-muted;
}

/* WebView样式 */
.web-view {
  -fx-background-color: transparent;
}

/* HBox样式 */
.hbox {
  -fx-alignment: center-right;
  -fx-spacing: 20px;
}

/* 按钮常见样式 */
.button {
  -fx-padding: 5px 20px;
  -fx-background-radius: 5px;
  -fx-font-family: "Inter";
  -fx-font-size: 13px;
     }

/* 忽略按钮样式 */
.button-ignore {
  -fx-background-color: -color-accent-subtle;
  -fx-text-fill: -color-fg-muted;
}

/* 取消按钮样式 */
.button-cancel {
  -fx-background-color: -color-danger-emphasis;
  -fx-text-fill: white;
}

/* 确认按钮样式 */
.button-confirm {
  -fx-background-color: -color-success-emphasis;
  -fx-text-fill: white;
}

/* 设置滚动条的背景 */
.scroll-bar {
  -fx-background-color: transparent; /* 背景透明 */
  -fx-padding: 0;
}

/* 自定义滚动槽（轨道）的样式 */
.scroll-bar .track {
  -fx-background-color: #e0e0e0; /* 浅灰色 */
  -fx-background-radius: 4px; /* 圆角 */
}

/* 自定义滚动滑块（thumb）的样式 */
.scroll-bar .thumb {
  -fx-background-color: #e3e3e3;
  -fx-background-radius: 4px; /* 圆角 */
  -fx-padding: 2px;
}

/* 滑块的悬停效果 */
.scroll-bar .thumb:hover {
  -fx-background-color: #e3e3e3;
}

/* 设置箭头的透明度（可选） */
.scroll-bar .increment-button,
.scroll-bar .decrement-button {
  -fx-opacity: 0; /* 隐藏箭头 */
}
